<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gas Detector System</title>

<!-- All CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>


	<header>
		<h2 class="logo text-warning">
			Gaso<span class="text-white">System</span>
		</h2>
		<nav class="navigation">
			<a class="x" href="#">Home</a> 
			<a class="x2" href="#about">About</a> 
			<a class="x3" href="#services">Services</a>
			<a class="x4" href="#contact">Contacts</a> 
			<a class="x5" href="#team">Team</a>
			<a href="/login" class="btn-login">Login</a>
		</nav>
	</header>

	

	<!-- about section starts -->
	<section id="about" class="about section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-12">
					<div class="about-img">
						<img src="img/about.jpg" alt="" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-text">
						<h2>
							We Provide the Best Quality <br /> Services Ever
						</h2>
						<p>GasoSystem is a gas leak detector company that produces
							high-quality gas detection instruments for detecting toxic and
							combustible gases. Their detectors are reliable, accurate, and
							easy to use, and equipped with advanced sensors and alarms to
							alert users to potential gas leaks. They are committed to
							providing the highest level of quality and service, including
							comprehensive training and support. Overall, GasoSystem is a
							reliable and trustworthy company dedicated to ensuring the safety
							of its customers.</p>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- about section Ends -->
	<!-- services section Starts -->
	<section class="services section-padding" id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header pt-5  text-center pb-5">
						<h2>Our Services</h2>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2">
						<div class="card-body">
							<i class="bi bi-laptop"></i>
							<h3 class="card-title text-warning">Best Quality</h3>
							<p class="lead">GasoSystem company provides high quality
								system, can mentor your system, and provde One year warranty to
								all devices</p>

						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2">
						<div class="card-body">
							<i class="bi bi-journal"></i>
							<h3 class="card-title text-warning">Maintainace</h3>
							<p class="lead">
								GasoSystem company provides has a service team that resposible
								for depolying <br> and maintaining operation
							</p>

						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2">
						<div class="card-body">
							<i class="bi bi-intersect"></i>
							<h3 class="card-title text-warning">Devices</h3>
							<p class="lead">GasoSystem company provides reliable,
								accurate, easy to use,and more efficient devices to early detect
								for gas leaking</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- services section Ends -->

	<!-- portfolio strats -->
	<section id="portfolio" class="portfolio section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header pt-5 text-center pb-5">
						<h1>Our Projects</h1>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4">
								<img src="img/g6.jpg" class="img-fluid" alt="">
							</div>
							<h3 class="card-title">Science &Culture City</h3>
							<p class="lead">is a system for two building estaplished
								since three year</p>

						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4">
								<img src="img/g5.jpg" class="img-fluid" alt="">
							</div>
							<h3 class="card-title">New Cairo Hospital</h3>
							<p class="lead">we have a subsystem in new cairo hospital,
								work in stores bulding</p>

						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4">
								<img src="img/gg.jpg" class="img-fluid" alt="">
							</div>
							<h3 class="card-title">Zacks Resturant</h3>
							<p class="lead">sensors and fire leak detectors system can
								detect to all danger fire situation</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- portfolio ends -->
	<!-- team starts -->
	<section class="team section-padding" id="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header pt-5 text-center pb-5">

						<h1>Our Team</h1>

					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-12 col-md-5 col-lg-2">
					<div class="card text-center">
						<div class="card-body bg-dark">
							<h3 class="card-title text-warning py-2">Mostafa Saeed</h3>
							<p class="card-text text-white">Software Engineer specialiest
								in web development as a java developer.</p>
							<p class="socials">
								<a href="#"><i class="bi bi-twitter text-white mx-1"></i></a> <a
									href="https://www.facebook.com/"><i
									class="bi bi-facebook text-white mx-1"></i></a> <a
									href="https://www.linkedin.com/in/mostafa-saeed-8395931b4/"><i
									class="bi bi-linkedin text-white mx-1"></i></a>

							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-5 col-lg-2">
					<div class="card text-center">
						<div class="card-body bg-dark">
							<h3 class="card-title text-warning py-2">Mahmoud Mohsen</h3>
							<p class="card-text text-white">Software Engineer specialiest
								in mobile development .</p>
							<p class="socials">
								<a href="#"><i class="bi bi-twitter text-white mx-1"></i></a> <a
									href="https://www.facebook.com/mahmoud.mohsenii.9"><i
									class="bi bi-facebook text-white mx-1"></i></a> <a href="#S"><i
									class="bi bi-linkedin text-white mx-1"></i></a>

							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-5 col-lg-2">
					<div class="card text-center">
						<div class="card-body bg-dark">
							<h3 class="card-title text-warning py-2">Mohamed Ahmed</h3>
							<p class="card-text text-white">Software Engineer specialiest
								in web Embeded Systems.</p>
							<p class="socials">
								<a href="#"><i class="bi bi-twitter text-white mx-1"></i></a> <a
									href="https://www.facebook.com/profile.php?id=100011263274247"><i
									class="bi bi-facebook text-white mx-1"></i></a> <a href="#"><i
									class="bi bi-linkedin text-white mx-1"></i></a>

							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-5 col-lg-2">
					<div class="card text-center">
						<div class="card-body bg-dark">
							<h3 class="card-title text-warning py-2">Mohamed Gomaa</h3>
							<p class="card-text text-white">Software Engineer specialiest
								in web development as frontend devlop.</p>
							<p class="socials">
								<a href="#"><i class="bi bi-twitter text-white mx-1"></i></a> <a
									href="https://www.facebook.com/medog157"><i
									class="bi bi-facebook text-white mx-1"></i></a> <a href="#"><i
									class="bi bi-linkedin text-white mx-1"></i></a>

							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-5 col-lg-2">
					<div class="card text-center">
						<div class="card-body bg-dark">
							<h3 class="card-title text-warning py-2">Ibrahim Mohamed</h3>
							<p class="card-text text-white">Software Engineer and
								teamLeader specialiest in Cyber Security .</p>
							<p class="socials">
								<a href="#"><i class="bi bi-twitter text-white mx-1"></i></a> <a
									href="#"><i class="bi bi-facebook text-white mx-1"></i></a> <a
									href="#"><i class="bi bi-linkedin text-white mx-1"></i></a>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- team ends -->
	<!-- Contact starts -->
	<section id="contact" class="contact section-padding">
		<div class="container mt-5 mb-5">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h1>Contact Us</h1>
						<p>you can send your question at any time here</p>
					</div>
				</div>
			</div>
			<div class="row m-0">
				<div class="col-md-12 p-0 pt-4 pb-4">
					<form action="#" class="bg-light p-4 m-auto">
						<div class="row">
							<div class="col-md-12">
								<div class="mb-3">
									<input class="form-control" placeholder="Full Name" required=""
										type="text">
								</div>
							</div>
							<div class="col-md-12">
								<div class="mb-3">
									<input class="form-control" placeholder="Email" required=""
										type="email">
								</div>
							</div>
							<div class="col-md-12">
								<div class="mb-3">
									<textarea class="form-control" placeholder="Message"
										required="" rows="3"></textarea>
								</div>
							</div>
							<button class="btn btn-warning btn-lg btn-block mt-3"
								type="button">Send Now</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- contact ends -->
	<!-- footer starts -->
	<footer class="bg-dark p-2 text-center">
		<div class="container">
			<p class="text-white">All Right Reserved By @ GasoSystem</p>
		</div>
	</footer>
	<!-- footer ends -->


	<!-- All Js -->
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/script.js"></script>
	
	<!-- icons library -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>



<!--for getting the form download the code from download button-->